.directory
.idea
*.AppImage
*__pycache__
venv/

*.deb
*.gz

AppDir
appimage-builder-cache

linux_packaging/AUR*
linux_packaging/DEB-thinkfan-ui/pkg/*
linux_packaging/DEB-thinkfan-ui/src/*
linux_packaging/DEB-thinkfan-ui/thinkfan*
