[Desktop Entry]
Name=Thinkfan UI
Exec=thinkfan-ui
Icon=thinkfan-ui
Type=Application
Terminal=false
StartupNotify=true
Categories=Utility;
X-KDE-SubstituteUID=true
X-KDE-Username=root
